<h2>Movies</h2>
<div class="search-movie">
  <input
    class="form-control"
    type="text"
    name="search"
    [(ngModel)]="searchText"
    autocomplete="off"
    placeholder="Start searching for a movie by title"
  />
</div>
<table>
  <thead>
    <tr>
      <th class="header">Primary title</th>
      <th class="header">Original title</th>
      <th class="header">Start year</th>
      <th class="header">Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies | filter: searchText">
      <td class="details">{{ movie.primaryTitle }}</td>
      <td class="details">{{ movie.originalTitle }}</td>
      <td class="details">{{ movie.startYear }}</td>
      <td class="details">{{ movie.genre }}</td>
      <td>
        <button
          type="button"
          (click)="onSelect(movie)"
          [class.selected]="movie === selectedMovie"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
<app-movie [movie]="selectedMovie"></app-movie>
